.collectionintro {

    padding: 20px 40px;
    background-color: #f2f0f1;
    display: flex;
    flex-direction: column;
}

.collectionmandiv {
    width: 100%;
}

@media screen and (max-width: 767px) {

    .collectionintro {

        padding: 20px;
    }
}

@media screen and (max-width: 575px) {

    .collectionintro {

        padding: 15px;
    }
}