.collectionintro {

    padding: 20px 40px;
    background-color: #f2f0f1;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media screen and (max-width: 767px) {

    .collectionintro {

        padding: 20px;
    }
}

@media screen and (max-width: 575px) {

    .collectionintro {

        padding: 15px;
        gap: 15px;
    }
}