.homefrontbanddiv{
    background-color: black;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.homefrontbanddiv span a {
    color: white;
    margin-left: 5px;
    transition: all .7s;
}

.homefrontbanddiv span a:hover {
    color: #0445cf;
}

.containerdiv{
    padding: 20px 40px;
    margin-top: 2px;
    background-color: whitesmoke;
}

@media screen and (max-width: 767px) {
    .homefrontbanddiv{
        font-size: 13px;
    }
    .containerdiv{
        padding: 20px;
    }
}

@media screen and (max-width: 575px) {
    .homefrontbanddiv{
        font-size: 10px;
    }

    .containerdiv{
        padding: 15px;
    }
}