.footerparentdiv{
    width: 100%;
    padding: 20px 40px;
    background-color: whitesmoke;
}

.stayuptodatediv{
    width: 100%;
    height: 230px;
    background-color: black;
    border-radius: 20px;
    margin-top: 40px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.staytextdiv{
    width: 610px;
    display: flex;
    align-items: center;
}   
.stayemailandsubmitdiv{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
}
.stayemaildiv{
    width: 100%;
    position: relative;
}
.envelopeicon{
    color: black;
    position: absolute;
    right: 15px;
    top: 12px;
}

.staytextdiv h1{
    color: white;
    font-size: 50px;
    font-weight: 900;
    text-align: justify;
    width: 600px;
}

.stayemailinput{
    width: 100%;
    height: 40px;
    padding: 20px;
    padding-right: 48px;
    outline: none;
    border-radius: 50px;
    border: none;
    background-color: white;
}

.staysubmitbutton{
    width: 100%;
    height: 40px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: white;
    transition: all .7s;
}
.staysubmitbutton:hover{
    background-color: #6b6b6b;
    box-shadow: inset 0px 70px 0px 0px #6b6b6b;
    color: white;
}
.footerbottomdiv{
    width: 100%;
    margin-top: 40px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.footerbottomchildone{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 260px;
}

.footerbottomchildtwo{
    width: 160px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footerbottomchildtwo p{
    font-size: 18px;
    font-weight: 600;
}

.footerbottomchildtwo a{
    text-decoration: none;
    width: fit-content;
    color: #000000;
    opacity: .5;
    font-size: 16px;
    transition: all .7s;
}

.footerbottomchildtwo a:hover{
    opacity: 1;
    
}

.footerbottomchildtwo a:hover{
    opacity: 1;
}

.socialmedialogos{
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.twitterdiv{
    position: relative;
}
.twitterlogoimg{
    position: absolute;
    top: 8px;
    left: 10px;
}
.footerbottomchildone p{
    font-size: 15px;
    opacity: .7;
    text-align: justify;
}
.footerhrcstm{
    margin-top: 20px;
}

.footerbottomchildone h1{
    font-weight: 900;
}

.footercopyrightdiv{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footercopyrightdiv p{
    opacity: .6;
    font-size: 14px;
}
.footerpaymentcards{
    border: 2px solid black;
    width: 290px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1199px) {
    .staytextdiv{
        width: 490px;
    }

    .staytextdiv h1{
        font-size: 40px;
    }

    .stayemailandsubmitdiv{
        width: 34%;
    }

    .footerbottomchildone p{
        width: 95%;
    }
}

@media screen and (max-width: 991px) {
    .staytextdiv{
        width: 360px;
    }

    .staytextdiv h1{
        font-size: 30px;
    }

    .stayemailandsubmitdiv{
        width: 40%;
    }

    .footerbottomchildtwo{
        width: 120px;
    }
    
    .footerbottomchildone{
        width: 200px;
    }

    .footerbottomchildone h1{
        font-size: 30px;
    }

    .footerbottomchildone p{
        font-size: 14px;
    }

    .footerbottomchildtwo p{
        font-size: 14px;
    }

    .footerbottomchildtwo a{
        font-size: 12px;
    }
    
}


@media screen and (max-width: 767px) {
    .footerparentdiv{
        padding: 20px;
    }

    .staytextdiv{
        width: 100%;
    }
    .stayuptodatediv{
        height: 100%;
    }
    .stayuptodatediv{
        flex-wrap: wrap;
        gap: 10px;
    }

    .stayemailandsubmitdiv{
        width: 100%;
        padding: 0px;
        margin-top: 20px;
    }

    .staytextdiv h1{
        font-size: 38px;
    }

    .staysubmitbutton{
        font-size: 12px;
    }

    .footerbottomdiv{
        flex-wrap: wrap;
    }

    .footerbottomchildone{
        width: 100%;
    }

    .footerbottomchildone h1{
        font-size: 22px;
    }

    .footerbottomchildtwo{
        margin-top: 20px;
    }

    .footerbottomchildone p{
        width: 100%;
    }

    .footercopyrightdiv p{
        font-size: 12px;
    }
    

}


@media screen and (max-width: 575px) {
    .footerparentdiv{
        padding: 15px;
    }

    .stayuptodatediv{
        margin-top: 15px;
        padding: 15px;
    }

    .staytextdiv h1{
        font-size: 22px;
    }

    .staysubmitbutton{
        font-size: 10px;
        height: 30px;
    }

    .stayemailinput{
        height: 30px;
        font-size: 12px;
        padding: 15px;
    }

    .stayemailinput::placeholder{
        font-size: 10px;
    }

    .envelopeicon{
        font-size: 12px;
        top: 9px;
    }

    .stayemailandsubmitdiv{
        margin-top: 10px;
    }
    .footerbottomdiv{
        margin-top: 15px;
    }

    .footerbottomchildone h1{
        font-size: 16px;
    }

    .footerbottomchildone p{
        font-size: 12px;
    }

    .footerbottomchildtwo{
        margin-top: 10px;
        width: 50%;
        gap: 20px;
        margin-bottom: 20px;
    }

    
    .footerbottomchildtwo p{
        font-size: 12px;
    }
    
    .footerbottomchildtwo a{
        font-size: 10px;
    }

    .footerhrcstm{
        margin-top: 0px;
    }

    .twitterroundimg{
        width: 25px;
    }
    
    .twitterlogoimg{
        width: 11px;
        left: 8px;
    }

    .facebooklogoimg{
        width: 25px;
    }

    .instalogoimg{
        width: 25px;
    }

    .githublogoimg{
        width: 25px;
    }

    .footercopyrightdiv p{
        font-size: 10px;
    }

    .footercopyrightdiv{
        margin-top: 10px;
    }
}

