.aboutusintodiv{

    border: 2px solid black;
    margin-top: 3px;
}

.aboutusthreefeaturesdiv{

    border: 2px solid black;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



@media screen and (max-width: 767px) {
    .aboutusintodiv{
        padding: 20px;
    }
}


@media screen and (max-width: 575px) {
    .aboutusintodiv{
        padding: 15px;
    }

    .aboutusthreefeaturesdiv{
        margin-top: 15px;
    }
}