.addtocartintro {

    padding: 50px 40px 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #f2f0f1;
}

.cartamountanditemparent {

    border: 2px solid black;
    width: 100%;
    display: flex;
    gap: 20px;

}

.itemschild {

    border: 2px solid black;
    width: 65%;
}

.amountchild {

    border: 2px solid black;
    width: 35%;
}

.itemcartdiv {

    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.itemschild {

    padding: 15px;
}

.itemdivparent {

    border: 2px solid black;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.imagedivparent {

    border: 2px solid black;
    width: 200px;
    height: 200px;
}

.imagecstmchils {

    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    height: 100%;
}

.contentdivparent {

    border: 2px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.priceandquantitydiv {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;

}

.quantitydivbtncstm {

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 200px;
    height: 40px;
    background-color: #EBEBEB;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

.faiconcartdetails {

    font-size: 16px;
}

@media screen and (max-width: 767px) {

    .addtocartintro {

        padding: 35px 20px 20px 20px;

    }

    .faiconcartdetails {

        font-size: 14px;
    }
}

@media screen and (max-width: 575px) {

    .addtocartintro {

        padding: 25px 15px 15px 15px;
    }

    .faiconcartdetails {

        font-size: 9px;
    }
}