.collectionsintrodiv {

    padding: 60px 40px 20px 40px;
    background-color: #f2f0f1;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.collectionschilddiv {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.pagenationdiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.prevButt {

    border: none;
    outline: none;
    font-size: 16px;
    color: black;
    background-color: transparent;
}

.prevButt:disabled{

    color: rgb(166, 166, 166);
    background-color: transparent;
}

.nextButt {

    border: none;
    outline: none;
    font-size: 16px;
    color: black;
    background-color: transparent;
}

.nextButt:disabled{

    color: rgb(166, 166, 166);
    background-color: transparent;
}

.paginationsquarediv {

    width: 30px;
    height: 35px;
    background-color: #f2f0f1;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    transition: all .7s;
    font-size: 16px;
    background-color: transparent;
    color: black;
}

.paginationsquarediv:hover {

    background-color: black;
    color: white;
}

.paginationsquaredivactive {

    background-color: black;
    color: white;
    width: 30px;
    height: 38px;
}


@media screen and (max-width: 1199px) {
    .collectionschilddiv {

        justify-content: space-evenly;
    }

}

@media screen and (max-width: 767px) {

    .collectionsintrodiv {

        padding: 40px 20px 20px 20px;
    }

    .collectionschilddiv {

        justify-content: space-between;
    }

    .paginationsquarediv {
        font-size: 14px;
        width: 28px;
        height: 33px;
    }

    .prevButt {
        font-size: 14px;
    }

    .nextButt {
        font-size: 14px;
    }

    .paginationsquaredivactive {
        width: 28px;
        height: 36px;
        font-size: 14px;
    }
}

@media screen and (max-width: 575px) {

    .collectionsintrodiv {
        gap: 20px;
        padding: 35px 15px 15px 15px;
    }

    .prevButt {

        font-size: 12px;
    }

    .nextButt {

        font-size: 12px;
    }

    .paginationsquarediv {

        font-size: 10px;
        width: 25px;
        height: 30px;
    }

    .paginationsquaredivactive {

        font-size: 10px;
        width: 25px;
        height: 33px;
    }

    .pagenationdiv {
        gap: 10px;
    }
}