.homeintropageparent{
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    padding: 20px 40px 0px 40px;
}


.homeintropagechildone{
    width: 50%;
    z-index: 999;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.homeintropagechildtwo{
    width: 50%;
    background-image: url('../../../public/assets/Images/mainimage.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    position: relative;
}

.vectorimgone{
    position: absolute;
    right: 100px;
    top: 100px;
    object-fit: cover;
}

.vectorimgtwo{
    position: absolute;
    right: 653px;
    top: 380px;
    height: 40px;
    object-fit: cover;
}

.h1text{
    font-weight: 900;
    font-size: 64px;
    font-family: "Roboto", serif;    
    width: 90%;
    margin-top: 60px;
    line-height: 1;

}

.paratext{
    width: 96%;
    font-size: 16px;
    opacity: .6;
    font-weight: 300;
    letter-spacing: .8px;
    font-family: "Roboto", serif;

}

.homeintropagechildone a{
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 30px;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .7s;
    border-color: black;
}

.homeintropagechildone a:hover{
    box-shadow: inset 0px 70px 0px 0px #6b6b6b;
    border-color: #6b6b6b;
    outline: none;
}

.brandsproductscustomer{
    width: 550px;
    height: 150px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.borderline{
    border: 1px solid black;
    width: 1px;
    height: 100px;
    margin-top: 10px;
    opacity: .6;
}

.numberplustextdiv{
    width: 180px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.numberplustextdiv h1{
    font-size: 38px;
}

.numberplustextdiv p{
    font-size: 16px;
    font-weight: 400;
    opacity: .6;
}

.slidinglogoparent{
    height: 130px;
    width: 100%;
    background-color: black;
    padding: 20px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center;

}


.slidinglogoparent p{
    width: 100%;
    display: inline-block;
    /* animation: slideText 10s linear infinite; */
    color: white;
    font-size: 28px;
}

.slidinglogochild{
    width: 100%;
    display: flex;
    gap: 90px;
    animation: slideText 30s linear infinite;
}

.newarrivalsparent{
    width: 100%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.newarrivalsparent h1{
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    margin-top: 40px;
}

.clothdetailsdiv{
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    gap: 20px;
    justify-content: space-between;
    
}

.clothcardcstm{
    width: 22%;
    /* height: 470px; */
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.shirtimage{
    width: 100%;
    height: 300px;
}

.shirtimagesrc{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.clothcardcstm p{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    font-size: 18px;

}

.stardiv{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.starcstmicon{
    font-size: 20px;
    color: rgb(255, 145, 0);
}

.stardivchildone{
    display: flex;
    gap: 3px;
}

.stardivchildtwo{
    min-width: 34px;
    max-width: 50px;
    height: 24px;
    display: flex;
    padding-top: 1px;
    opacity: .6;
}

.pricediv{
    width: 100%;
    height: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.pricediv span{
    max-width: 50%;
    font-size: 30px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.priceoffer{
    opacity: .7;
    font-size: 20px !important;
    text-decoration: line-through;
}

.buttoncenterdiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.browseclothdiv{
    border: 2px solid black;
    width: 100%;
    padding: 20px 40px;
}


/* KEY FRAMES FOR ANIMATIONS */


@keyframes slideText {
    from{
        transform: translateX(0%);
    }

    to{
        transform: translateX(-100%);
    }
}















/*   MEDIA QUERIES FOR RESPONSIVENESS */





@media screen and (max-width: 1499px) {
    .vectorimgtwo{
        display: none;
    }
}

@media screen and (max-width: 1399px) and (min-width: 1200px) {
    .homeintropagechildtwo{
        width: 60%;
    }

    .homeintropagechildone{
        width: 40%;
    }

    .h1text{
        font-size: 50px;
    }

    .paratext{
        font-size: 12px;
    }

    .numberplustextdiv h1{
        font-size: 28px;
    }
    
    .numberplustextdiv p{
        font-size: 12px;
    }
    .brandsproductscustomer{
        width: 435px;
    }

    .borderline{
        height: 70px;
    }
}

@media screen and (max-width: 1199px) {
    .homeintropageparent{
        flex-wrap: wrap;
        height: 1000px;
    }
    .homeintropagechildone{
        width: 100%;
        height: 500px;
    }
    .homeintropagechildtwo{
        width: 848px;
        height: 480px;
    }
    .vectorimgtwo{
        display: block;
        right: 590px;
    }
    .h1text{
        margin-top: 20px;
    }
    .vectorimgone{
        right: 50px;
        top: 70px;
    }
    .homeintropagechildone a{
        width: 100%;
    }

    .clothcardcstm{
        width: 33%;
    }

    .clothdetailsdiv{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 1099px) {
    .slidinglogochild{
        gap: 70px;
    }
}

@media screen and (max-width: 991px) {
    .h1text{
        font-size: 57px;
    }

    .paratext{
        font-size: 14px;
    }

    .numberplustextdiv h1{
        font-size: 32px;
    }

    .numberplustextdiv p{
        font-size: 14px;
    }
    .homeintropagechildtwo{
        width: 100%;
    }

    .brandsproductscustomer{
        width: 496px;
    }

    .clothcardcstm{
        width: 40%;
    }
    
}

@media screen and (max-width: 767px) {
    .h1text{
        font-size: 40px;
    }

    .paratext{
        font-size: 12px;
    }

    .numberplustextdiv h1{
        font-size: 28px;
    }

    .numberplustextdiv p{
        font-size: 12px;
    }

    .brandsproductscustomer{
        width: 440px;
        height: 100px;
    }

    .homeintropagechildone a{
        font-size: 12px;
        height: 40px;
    }

    .vectorimgtwo{
        display: none;
    }

    .homeintropagechildone{
        height: 360px;
    }

    .homeintropagechildtwo{
        height: 440px;
    }

    .homeintropageparent{
        height: 820px;
        padding: 20px 20px 0px 20px;
    }
    .borderline{
        height: 70px;
    }

    .slidinglogoparent{
        height: 80px;
    }

    .slidinglogoimg{
        object-fit: cover;
        width: 200px;
        height: 20px;
    }

    .clothcardcstm{
        width: 46%;
    }

    .newarrivalsparent h1{
        font-size: 40px;
    }

    .clothcardcstm  p{
        font-size: 16px;
    }

    .starcstmicon{
        font-size: 18px;
    } 
    .stardivchildtwo {
        padding-top: 3px;
    }

    .pricediv span {
        font-size: 26px;
    }

    .browseclothdiv{
        padding: 20px;
    }
    
}

@media screen and (max-width: 575px) {
        .h1text{
            font-size: 30px;
        }

        .paratext{
            font-size: 10px;
        }

        .homeintropagechildone a{
            height: 30px;
            font-size: 10px;
        }

        .numberplustextdiv h1{
            font-size: 22px;
        }
        
        .numberplustextdiv p{
            font-size: 10px;
        }

        .brandsproductscustomer{
            width: 380px;
        }
        
        .homeintropagechildtwo{
            height: 350px;
        }

        .vectorimgone{
            height: 30px;
        }

        .vectorimgtwo{
            display: block;
            height: 20px;
            right: 410px;
            top: 275px;
        }

        .homeintropageparent{
            height: 725px;
            padding: 15px 15px 0px 15px;
        }

        .borderline{
            height: 60px;
        }

        .slidinglogoparent{
            height: 50px;
        }

        .slidinglogochild{
            /* gap: 20px; */
            /* width: max-content; */
            gap: 40px;
            animation: slideText 10s linear infinite;
        }

        .clothcardcstm{
            width: 100%;
            gap: 10px;
        }
        .shirtimagesrc{
            object-fit: contain;
        }
        .newarrivalsparent h1{
            font-size: 22px;
            margin-top: 15px;
        }

        .clothcardcstm p{
            font-size: 12px;
        }

        .starcstmicon{
            font-size: 14px;
        }

        .stardiv{
            height: 20px;
        }
        .stardivchildtwo {
            padding-top: 5px;
        }

        .pricediv span{
            font-size: 20px;
        }
        .newarrivalsparent {
            padding: 15px;
        }

        .browseclothdiv{
            padding: 15px;
        }
}

@media screen and (max-width: 470px) {
    .vectorimgtwo{
        height: 10px;
        top: 190px;
        right: 270px;
    }

    .homeintropagechildtwo{
        height: 240px;
    }

    .homeintropageparent{
        height: 616px;
    }

    .vectorimgone{
        height: 15px;
        right: 50px;
        top: 40px;
    }

    .brandsproductscustomer{
        width: 300px;
        flex-wrap: wrap;
    }

    .numberplustextdiv{
        width: 100px;
    }

    .h1text{
        font-size: 22px;
    }
    .homefrontbanddiv {
        font-size: 8px;
    }
}