.productdetailsintro {

    padding: 50px 40px 20px 40px;
    width: 100%;
    background-color: #f2f0f1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.productdetailschilddiv {

    display: flex;
    width: 100%;
    gap: 20px;
}

.productdetailschildone {
    height: 518px;
    display: flex;
    align-items: center;
    gap: 8px;

}

.productdetail3imagediv {

    width: 152px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.productdetail1imagediv {
    width: 80%;
    height: 100%;

}

.productfirstimagediv {

    width: 152px;
    height: 167px;
}

.productdetailschildtwo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.productdetailsimg {
    width: 444px;
    height: 518px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
}

.starsectionproductdetails {
    display: flex;
    gap: 5px;

}

.starsectionproductdetailsparent {

    display: flex;
    justify-content: space-between;
    width: 210px;
    align-items: center;
    font-size: 17px;
    color: #000;
    opacity: .7;
}

.productdetailsleftdivimg {

    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.productpricediv {

    width: 280px;
    display: flex;
    justify-content: space-between;

}

.productpricediv h1 {
    font-size: 40px;
}

.productofferprice {
    text-decoration: line-through;
    color: #676767;
}

.productdescriptiondiv {

    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: .7;
    font-size: 15px;
}

.sizediv {

    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.smallsize {

    width: 23%;
    height: 40px;
    border-radius: 20px;
    background-color: #d7d7d7;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .7s;
}

.smallsize p {

    color: #000;
    opacity: .7;
    font-size: 16px;
}

.smallsize:hover {

    background-color: black;
    cursor: pointer;

    p {
        color: white;
        opacity: 1;
    }
}

.productdetailslastbuttondiv {

    width: 100%;
    display: flex;
    gap: 20px;
}

.subandaddnumberdiv {

    width: 30%;
    height: 40px;
    font-size: 16px;
    border-radius: 20px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.subandaddnumberdiv p {

    user-select: none;
}

.productdetailslastbuttondiv a {

    user-select: none;
}

.detailsbuttondiv {

    width: 70%;
    font-size: 10px;
    height: 40px;
    font-size: 16px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    transition: all 0.7s;
    text-decoration: none;
}

.detailsbuttondiv:hover {

    background-color: #676767;

}

.faiconproductdetails {
    font-size: 16px;
}


.productdetailscustomerrev .h1andslidericon {

    margin-top: 0px;
}

.productdetailscustomerrev .commentscardparent {

    margin-top: 20px;
}

.productdetailspopularcstm h1 {

    margin-top: 0px;
}


@media screen and (max-width: 1399px) {
    .onelifegraphictext {

        font-size: 39px;
    }
}

@media screen and (max-width: 1199px) {
    .onelifegraphictext {

        font-size: 30px;
    }

    .productpricediv h1 {

        font-size: 28px;
    }

    .productpricediv {

        width: 200px;
    }

    .subandaddnumberdiv {

        width: 40%;
    }

    .detailsbuttondiv {

        width: 60%;
    }
}

@media screen and (max-width:991px) and (min-width: 767px) {
    .productdetailsimg {

        width: 330px;
        height: 450px;
    }

    .productfirstimagediv {

        width: 120px;
        height: 145px;
    }

    .productdetail3imagediv {

        width: 120px;
    }

    .productdetailschildone {

        height: 450px;
    }

    .onelifegraphictext {

        font-size: 25px;
    }

    .starsectionproductdetailsparent {

        font-size: 13px;
    }

    .starcstmicon {

        font-size: 16px;
    }

    .starsectionproductdetailsparent {

        width: 170px;
    }

    .productpricediv h1 {

        font-size: 22px;
    }

    .productpricediv {

        width: 160px;
    }

    .productdescriptiondiv {

        font-size: 13px;
    }

    .smallsize p {

        font-size: 10px;
    }

    .smallsize {

        height: 26px;
    }

    .detailsbuttondiv {

        font-size: 12px;
        height: 30px;
    }

    .subandaddnumberdiv {

        height: 30px;
        font-size: 12px;
        padding: 0px 15px;
    }

    .faiconproductdetails {

        font-size: 10px;
    }

}


@media screen and (max-width: 767px) {
    .productdetailsintro {

        padding: 35px 20px 20px 20px;
        gap: 20px;
    }

    .subandaddnumberdiv {

        font-size: 12px;
    }

    .detailsbuttondiv {

        font-size: 12px;
    }

    .faiconproductdetails {
        font-size: 14px;
    }

    .productdetailschilddiv {

        flex-wrap: wrap;
    }

    .productdetailschildone {

        width: 100%;
    }

    .productdetailsimg {

        width: 100%;
    }

}


@media screen and (max-width: 575px) {
    .productdetailsintro {

        padding: 25px 15px 15px 15px;
        gap: 15px;
    }

    .subandaddnumberdiv {

        font-size: 10px;
        height: 30px;
    }

    .detailsbuttondiv {

        font-size: 10px;
        height: 30px;
    }

    .faiconproductdetails {
        font-size: 12px;
    }

    .productdetail3imagediv {

        width: 100%;
        flex-direction: row;
        height: 172px;
    }

    .productfirstimagediv {

        width: 33%;
    }

    .productdetail1imagediv {

        width: 100%;
    }

    .productdetailsimg {

        height: 480px;
    }

    .productdetailschildone {

        flex-wrap: wrap;
        height: 100%;
        gap: 8px;
        flex-direction: column-reverse;
    }

    .onelifegraphictext {

        font-size: 24px;
    }

    .starsectionproductdetailsparent {

        width: 154px;
    }

    .productpricediv h1 {

        font-size: 20px;
    }

    .productdescriptiondiv {

        font-size: 12px;
    }

    .productpricediv {

        width: 146px;
    }

    .smallsize {

        height: 30px;
    }

    .smallsize p {

        font-size: 11px;
    }

    .faiconproductdetails {

        font-size: 9px;
    }

    .starsectionproductdetailsparent {
        font-size: 13px;
    }

    .productdetailschilddiv {

        gap: 15px;
    }

}

@media screen and (max-width: 426px) {

    .onelifegraphictext {

        font-size: 22px;
    }

    .productdetailsimg {

        height: 340px;
    }

    .productfirstimagediv {

        height: 121px;
    }

    .productdetail3imagediv {

        height: 121px;
    }
}