.productdetailsintro {

    padding: 50px 40px 20px 40px;
    border: 2px solid black;
    width: 100%;
    background-color: #f2f0f1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.productdetailschilddiv {

    display: flex;
    width: 100%;
    border: 2px solid black;
    gap: 20px;
    height: 500px;
}

.productdetailschildone {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 5px;

}

.productdetail3imagediv {

    width: 20%;
    border: 2px solid black;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.productdetail1imagediv {
    width: 80%;
    border: 2px solid black;
    height: 100%;
    
}

.productfirstimagediv {

    width: 100%;
    /* border: 2px solid black; */
    min-height: 159px;
}

.productdetailschildtwo {
    width: 50%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.productdetailsimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
}

.starsectionproductdetails {
    display: flex;
    gap: 5px;

}

.starsectionproductdetailsparent {

    display: flex;
    justify-content: space-between;
    width: 210px;
    align-items: center;
    font-size: 17px;
    color: #000;
    opacity: .7;
}

.productdetailsleftdivimg{

    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.productpricediv {

    width: 280px;
    display: flex;
    justify-content: space-between;

}

.productpricediv h1 {
    font-size: 40px;
}

.productofferprice {
    text-decoration: line-through;
    color: #676767;
}

.productdescriptiondiv {

    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: .7;
    font-size: 15px;
}

.sizediv{

    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.smallsize{

    width: 23%;
    height: 40px;
    border-radius: 20px;
    background-color: #d7d7d7;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .7s;
}

.smallsize p{
    
    color: #000;
    opacity: .7;
    font-size: 16px;
}

.smallsize:hover{

    background-color: black;
    cursor: pointer;

    p{
        color: white;
        opacity: 1;
    }
}


@media screen and (max-width: 767px) {
    .productdetailsintro {

        padding: 35px 20px 20px 20px;
        gap: 20px;
    }
}


@media screen and (max-width: 575px) {
    .productdetailsintro {

        padding: 25px 15px 15px 15px;
        gap: 15px;
    }
}