.contactpageintro{

    border: 2px solid black;
    background-color: #f2f0f1;
    display: flex;
    gap: 20px;
}

.contactpageimgdiv{

    border: 2px solid black;
    width: 50%;
}

.contactpagereachusoutdiv{

    border: 2px solid black;
    width: 50%;
}