.contactpageintro{

    border: 2px solid black;
    background-color: #f2f0f1;
    display: flex;
    gap: 20px;
}

.contactpageimgdiv{

    border: 2px solid black;
    width: 50%;
}

.contactpagereachusoutdiv{

    border: 2px solid black;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contactuscstmforms{

    border: 2px solid black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}